

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-right: 15%;
  margin-left: 15%;
  padding: 50px;
  font-family: "Montserrat";
  background-color: #f2f2f2;
  transition: 0.2s;
}

nav{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.toggle{
    cursor: pointer;
    display: flex;
    column-gap: 15px;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: 0.2s;
}

.toggle .ball{
  position: absolute;
  width: 20px;
  height: 20px;
  right: 296px;
  border-radius: 50%;
  transition: 0.3s ease-out;
}

.toggle i{
  width: 50%;
  text-align: center;
  z-index: 1;
}

.bxs-moon{
  position: relative;
  left: 8px;
}

.bxs-sun{
  position: relative;
  left: 4px;
}

.light{
  background-color: #f2f2f2;
}

.light .toggle{
  background: linear-gradient(145deg, #e1e1e1, #fff);
  box-shadow: 3px 3px 4px #e6e6e6, -3px -3px 4px #ffffff;
}

.light .toggle .bxs-sun{
  color: #fafafa;
}

.light .toggle .bx-moon{
  color: #151d2a;
}

.light .toggle .ball{
  background: #151d2a;
}

.light .card {
  background-color: #fff;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 22px 26px;
  margin-bottom: 42px;
}

/********************************/


.dark{
  background-color: #151d2a;
}

.dark .card {
  background-color: #4c4c4c;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
}

.dark .toggle{
  background: #151d2a;
  box-shadow: 3px 3px 3px #0e131b, -3px -3px 3px #1c2739;
}

.dark .toggle .bx-sun{
  color: #fafafa;
}

.dark .toggle .bxs-moon{
  color: #151d2a;
}

.dark .toggle .ball{
  background: #fafafa;
  transform: translateX(60px);
}

.dark .toggle .ball{
  right: 318px;
}



nav input{
  display: none;
}
header {
  display: flex;
}

header img {
  width: 40%;
  max-height: 270px;
  border-radius: 12px;
}

.header-text {
  width: 100%;
  margin-left: 32px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.header-text-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

#desc {
  font-size: 1.3rem;
  line-height: 20px;
}

.name h1 {
  color: #4f4f4f;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 6px;
}

.name p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #828282;
}

.header-text > p {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 15px;
  color: #828282;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  position: relative;
  top: 5px;
  right: 10px;
}

details p {
  color: #4f4f4f;
  line-height: 30px;
}

header p {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #828282;
}

#skills h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #4f4f4f;
}

.skills-continer {
  display: flex;
}

.skills-continer > div {
  width: 50%;
}

.skill-level {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
}

.skill-level h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  width: 10px;
  flex-shrink: 0;
}

.skill-meter {
  position: relative;
  width: 75%;
  height: 9px;
  background: #c4c4c4;
  border-radius: 12px;
  overflow: hidden;
}

#skill-block-2 {
  margin-left: 20px;
}

.skill-meter span {
  display: block;
  height: 9px;
  background: #5c94e1;
  border-radius: 12px;
}

.hobbies-container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
#hobbies h3{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
.hobbie{
  width: 30%;
}

.hobbies-container img{
  width: 100%;
  height: 70%;
  border-radius: 12px;
  object-fit: cover;
}

.hobbie p{
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #828282;
  margin-bottom: 10px;
}

#blog h5{
  font-weight: 500;
  font-size: 0.9rem;
  color: #e0e0e0;
}

.blog-container{
  display: flex;
  width: 100%;
}

.blog-container > div{
  width: 50%;
}

.blog-img img{ 
  width: 80%;
  position: relative;
  left: 150px;
  bottom: 10px;
  border-radius: 12px;
  object-fit: cover;
  
}

h2{
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 20px;
  color: #4f4f4f;
}
.blog-text p{
  font-weight: 500;
  font-size: 0.8 rem;
  color: #4f4f4f;
  margin-right: 20px;
}

#blog{
  overflow: hidden;
}

#experiences h3{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 16px;
  color: #4f4f4f;
}

.experience-logo img{
  width: 10%;
}

.period {
  font-weight: 500;
  font-size: .8rem;
  line-height: 17px;
  margin-bottom: 10px;
  color: #828282;
}

.experience-text h5{
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  color: #333;
  margin: 12px 0 33px;
}

.experience-text p{
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  margin-bottom: 10px;
  color: #828282;
}

#project{
  font-weight: 700;
  font-size: 18px;
  color: #4f4f4f;
}

.last-column img{
  display: flex;
  width: 100%;
  border: 1px solid #828282;
  border-radius: 12px;
  object-fit: cover;
  margin: 0;
}

.last-column{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.last-column > div{
  width: 45%;
  
}

#project{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#project *{
  margin-bottom: 30px;
}

.last-column h5{
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #4f4f4f;
 
}

.last-column h3{
  font-weight: 500;
  font-size: 1rem;
  line-height: 29px;
  color: #333;
  
}

.last-column p{
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #828282;;
 
}

.demo{
  background-color: #5c94e1;
  color: #fff;
  margin-right: 11px;
  border: 1px solid #5c94e1;
  margin-right: 20px;
  padding-right: 40px;
}

.code{
  background-color: #fff;
  color: #5c94e1;
  border: 1px solid #5c94e1;
}

.project-card-footer a{
  display: inline;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 12px;
  border-radius: 12px;
  cursor: pointer;

}

.project-card-footer{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 12px;
  border-radius: 12px;
  cursor: pointer;

}

.last-column a{
  margin: 0 !important;
}

#project-3 img{
  height: 85%;
  transform: scale(1.1);
}



@media (max-width: 1200px) {
  body {
    margin-right: 0%;
    margin-left: 0%;
  }

  header img {
    object-fit: cover;
  }

  .skill-level h6 {
    font-size: 12px;
  }
  .hobbie p{
    font-size: 0.8rem;
  }
  .blog-img img{ 
    width: 100%;
    position: relative;
    top: 40px;
    left: 110px;
  }

  .last-column{
    height: 600px;
  }

  #git a img{
    height: 85%;
    transform: scale(1.1);
  }

  #project-1 img{
    height: 75%;
    margin-top: 30px;
  }

  #project-2 img{
    height: 75%;
    margin-top: 20px;
  }

  .toggle .ball{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 80px;
    border-radius: 50%;
  }

  .dark .toggle .ball{
    right: 103px;
  }

  #myName{
    font-size: 1.2rem;
  }
  .name{
      width: 50%;
  }
  .details{
    width: 50%;
  }
  .details > p{
   font-size: 0.8rem;
  }

  .header-text{
    margin-left: 10px;
  }

  .project-card-footer{
    column-gap: 20px;
  }

}

@media (max-width: 750px) {
  header {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  .header-text-top {
    padding-top: 50px;
    margin-bottom: 30px;
    flex-direction: column;
  }
  header img {
    width: 100%;
  }
  .details {
    padding-top: 20px;
  }
  .details p {
    font-size: 0.6rem;
  }
  #myName{
    width: 100%;
  }

  .skills-continer {
    flex-direction: column;
  }
  #skill-block-2 {
    margin-left: 0px;
  }
  .skills-continer > div {
    width: 100%;
  }
  .skill-meter {
    width: 60%;
  }
  .hobbies-container{
    display: block;
    width: 100%;
    flex-direction: column;
  }
  .hobbie{
    width: 100%;
    margin-bottom: 40px;
  }
  .blog-container{
    flex-direction: column;
  }
  .blog-container > div{
    width: 100%;

  }
  .blog-img img{ 
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    margin: 0 auto;
    border-radius: 12px;
    object-fit: cover;
  }

  .blog-text p{
    font-size: 0.8 rem;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .blog-text h2{
    font-size: 0.8 rem;
    margin-right: 0px;
  }
  
  .last-column{
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .last-column > div{
    width: 100%;
  }
}

.dark h6,
.dark h1,
.dark p,
.dark h2,
.dark h5,
.dark h3,
.dark h4,
.dark .period {
  color: #fafafa !important;
}
